**/*checkpoint*/
checkpoints/
*.wandb
*.safetensors
*.log
modified_libero_rlds/*
!modified_libero_rlds/README.md
*.pt
*.pth
*.ckpt
*.bin
*.pkl
*.pickle
*.h5
*.hdf5
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.tar
*.tar.gz
*.zip
.env
wandb/
**/rlds_env/
**/*venv*/
**/site-packages/
